.profile__edit-button {
  background-image: url(../../../images/pencil.svg);
  width: 24px;
  height: 24px;
  background-size: 10px;
  background-color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  transition: opacity 1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin-top: 8px;
    width: 18px;
    height: 18px;
  }
}
