.popup__input{
  box-sizing: border-box;
  max-height: 66px;
  padding-bottom: 40px;
}


.popup__input:last-of-type{
  padding-bottom: 0px;
}

@media screen and (max-width: 768px){
  .popup__input{
    max-height: 78px;
  }
}
