.places__title {
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 21px;
  padding-right: 15px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
