.header__logo {
  display: flex;
  background-image: url(../../../images/logo_white.svg);
  height: 33px;
  width: 142px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 5s;
}

.header__logo:hover {
  background-image: url(../../../images/logo.svg);
}

@media screen and (max-width: 768px) {
  .header__logo{
    height: 24.4px;
    width: 142px;
    background-size: contain;

  }
}
