.form__close-button {
  position: absolute;
  background-image: url(../../../images/Close_Icon.svg);
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  border: 0;
  transition: opacity 1s;
  z-index: 4;
  cursor: pointer;
}

.form__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px){
  .form__close-button {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
