.profile__describe{
  margin: 0px;
  padding-top: 16px;
  font-family: Inter,Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  max-width: 294px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .profile__describe {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

  }

}
